html, 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    padding: 20px;

}
.logo-text-home{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo-text{
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: center;

}

.logo{
    width:30px;
    height: 30px;


}
.home-about{
    display: flex;
    width: 200px;

}
h4{
    margin-right: 20px;
}