body {
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* ----- TYPOGRAPHY ----- */

h1, 
h3 {
    margin: 0;
}

h1 {
    color: whitesmoke;
    font-size: 2.25em;
}

h2 {
    color: #451c7a;
    font-size: 1.75em;
    margin-top: 0;
}

h3 {
    font-size: 1.25em;
}

p {
    line-height: 23px;
}

.subheading {
    display: block;
    font-size: 0.56em;
    color: #d0aaff;
}

.section-two h2 {
    color: inherit;
}

/* ----- LINKS ----- */

a {
    color: #ef5839;
    text-decoration: underline dotted; 
}

a:hover, 
a:active {
    color: #d4b44c;
}

/*
  Challenge:
   1. Convert the padding value of .btn from px to em
   2. Space buttons both horizontally and vertically using margins and em units
   3. Convert the font-size of .btn from px to em
*/

.btn {
    font-size: 1.125em; /* 18/16 = 1.125 */
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 1em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    border-radius: 4.6px;
}

.btn-dark {
    color: whitesmoke;
    background: #5f29a3;
}

.btn-mid {
    color: #5f29a3; 
    background: #f0e0ff; 
}

.btn-light {
    color: #5f29a3; 
    background: whitesmoke;
}

.btn:hover, 
.btn:active {
    color: #2b238a;
    background-color: #f3e885;
}

/* ----- LAYOUT ----- */

/*
  Challenge:
   1. Convert the padding of header, section, and footer from px to em
   2. Convert the bottom-margin of .main-image from px to em
*/

header, 
section, 
footer {
    padding: 2.875em 0; /* 46/16 = 2.875 */
}

header, 
.section-two {
    background-color: #5f29a3;
}

.section-two {
    color: whitesmoke;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.main-image {
    width: 100%;
    display: block;
    max-width: 640px;
    margin: 0 auto 2em; /* 32/16 = 2 */
}

.section-two-image-container {
    display: flex;
    justify-content: space-between;
}

.feature-image {
    width: 48.8%;
    border-radius: 4.6px;
}

footer {
    text-align: center;
    color: #5f29a3;
}